* {
    color: rgb(156, 155, 155);
}

body {
    background-color: rgb(33, 75, 124);
}


header {
    width: 100%;
    margin-bottom: 15%;
    border: 15px;
    padding: 50px;
}

.timer-display {
    float: left;
 
}
.score-display {
    float: right;
    
}

.quizblock {
    width: 100%;
 
   text-align: center;
}

/* .head1 {
    
    text-align: center;
    background-color: rgb(150, 65, 98);
    border-color: aquamarine;
    border-width: solid 8px;
    width:50%;
    height:60%;
}

.Qsheet {
    align-items: center;
    
    width:100%;
    background-color: rgb(140, 112, 167);
}
.btn {
    background-color: rgb(182, 103, 103);
    border:solid 3px aquamarine;
    width: 70%;
    height: 60px;
}

.Abtn {
    width: 10%;
    height: 10%;
    font-size: 28px;
    margin: 20px 20px 20px 20px;
}

.userinput {
    background-color: aquamarine;
}

.font {
    color:brown
}
.Sbtn {
    width:20%;
    height: 20px;
    color:rgb(63, 48, 194)
}

#scores {
    display:;
} */