body {
    background-color: antiquewhite;
}

.head1 {
    
    text-align: center;
    background-color: rgb(150, 65, 98);
    border-color: aquamarine;
    border-width: solid 8px;
    width:50%;
    height:60%;
}

.Qsheet {
    
    width:70%;
    background-color: rgb(140, 112, 167);
}
.btn {
    background-color: rgb(182, 103, 103);
    width: 70%;
    height: 60px;
}